= simple_form_for(@discussion) do |f|
  %h5.muted Címzett
  .muted
    Válaszd ki kinek szeretnél üzenetet küldeni.
  = select_tag "discussion[recipient_tokens]", options_from_collection_for_select(@users, :id, 'uname'), :multiple => true, :size => "5"
  = f.simple_fields_for :messages do |j|
    = j.input :body, label: "Üzenet", required: true, input_html: { rows: 5, class: "span12"}
  .form-actions
    = f.submit "Küldés", class: "btn btn-primary btn-large"
  .muted
    *Csak azoknak a felhasználóknak küldhetsz üzenetet akiket követsz.