= simple_form_for @discussion do |f|
  %h5.muted Címzett
  = select_tag "discussion[recipient_tokens]", options_from_collection_for_select(@users, :id, Inboxes::config.user_name), :multiple => true, :size => "4"
  %p
    = f.fields_for :messages do |j|
      = j.input :body, label: "Üzenet", input_html: { rows: 5, class: "span12"}
  .form-actions
    = f.submit "Küldés", class: "btn btn-primary btn-large"