.row
  .small-8.small-centered.columns
    %h1.muted
      Üzenetek
.row
  .small-9.small-centered.columns
    .large-5.columns
      #discussions-box.standard
        - @discussions.each do |discussion|
          .row
            .small-12.columns
              .random.hover-gray{class: "#{ "unread" if discussion.unread_for?(current_user)}" }
                = link_to discussion, remote: true do
                  .row
                    - discussion.users.each do |user|
                      - unless user.id == current_user.id
                        .small-5.columns
                          - if user.profile.image_url
                            = image_tag(user.profile.image_url(:thumb))
                          - else
                            = image_tag('user.png')
                        .small-7.columns
                          %h5
                            = user.profile.user_name
                          %small
                            = truncate(discussion.messages.last.body, length: 20, separator: " ")
      #new-discussion-link
        %br/
        = link_to "Új beszélgetés", new_discussion_path, class: "button secondary expand"
    .large-7.columns
      #messages-wrap.standard
        = render "show_discussion"

:javascript
  $(document).ready(function() {
    $("#messages_box").scrollTop($("#messages_box")[0].scrollHeight);
  });


/     %table
/       %tr
/         %th Last message
/         %th Members
/         %th Unread
/       - @discussions.each do |discussion|
/         %tr
/           %td
/             = discussion.updated_at
/           %td
/             = link_to discussion.users.collect{|u| u[Inboxes::config.user_name]}.join(', '), discussion
/           %td
/             - if discussion.unread_for?(current_user)
/               = pluralize(discussion.unread_messages_count_for(current_user), "message")
/             - else
/               No unread messages
/     
/     %p
/       = link_to "Create new", new_discussion_path
