#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Képfeltöltés
  .modal-body
    = simple_form_for([@profile, @new_photo], :html => { :class => 'form-horizontal' }) do |f|
      .form-inputs
        = f.input :name, label: "Kép neve"
        = f.input :image, label: "Képfájl"
        = f.input :keszult, label: "Készült"
        = f.input :description, label: "Leírás", :input_html => { rows: 3, class: "span10"}
        = f.input :testsuly, label: "Testsúly(kg)"
        = f.input :testzsir, label: "Testzsír(%)"
      .form-actions
        = f.submit "Feltöltés", class: "btn btn-primary btn-large"
        = link_to "Mégse", "#", class: "btn btn-large", "data-dismiss" => "modal", id: "close-size"