.muted
  %table.table-condensed
    %thead
      %h4.padding5 Profil
    %tbody
      %tr
        %td Név
        %td= @profile.real_name
      %tr
        %td Szül.
        %td= @profile.date_of_birth
      %tr
        %td Város
        %td= @profile.varos
      %tr
        %td Edzőterem
        %td= @profile.gym
      %tr
        %td Nem
        %td= @profile.nem2
      %tr
        %td Sportág
        %td= @profile.sport