- @user ||= current_user
- @profile ||= @user.profile if @user
- if @profile
  .row-fluid
    .span12.bottom-line
      %h2
        = link_to "/" + @profile.user_name , @profile if @profile.user_name
        .pull-right
          - if own_profile?(@profile)
            .btn-toolbar
              .btn-group
                = link_to "+", new_workout_path, class: "btn btn-primary", id: "new-workout", remote: true
                = link_to "edzéseim", workouts_path, class: "btn"
              .btn-group
                = link_to "+", new_size_path, class: "btn btn-primary", id: "new-size", remote: true
                = link_to "méréseim", sizes_path, class: "btn"
              .btn-group
                = link_to edit_profile_path(current_user.profile) do
                  .btn{title: "Profilod beállításai"}
                    %i.icon-wrench
#workout-form
  .row-fluid
    .span12
#size-form
  .row-fluid
    .span12