%br/
%table.table
  %tbody
    %tr
      %td
        %h5 Testsúly
      %td
        %h5= kg(last_valid(:testsuly))
    %tr
      %td
        %h5 Testzsír
      %td
        %h5= pc(last_valid(:testzsir))
    %tr
    %tr
      %td
        %h5 Nyak
      %td
        %h5= cm(last_valid(:nyak))
    %tr
      %td
        %h5 Mell
      %td
        %h5= cm(last_valid(:mell))
    %tr
      %td
        %h5 Váll
      %td
        %h5= cm(last_valid(:vall))
    %tr
      %td
        %h5 Kar
      %td
        %h5= cm(last_valid(:kar))
    %tr
      %td
        %h5 Alkar
      %td
        %h5= cm(last_valid(:alkar))
    %tr
      %td
        %h5 Derék
      %td
        %h5= cm(last_valid(:derek))
    %tr
      %td
        %h5 Csípő
      %td
        %h5= cm(last_valid(:csipo))
    %tr
      %td
        %h5 Comb
      %td
        %h5= cm(last_valid(:comb))
    %tr
      %td
        %h5 Vádli
      %td
        %h5= cm(last_valid(:vadli))