.row-fluid
  .span6.offset3
    %h3.pagination-centered
      Profilod beállításai
    = simple_form_for(current_user.profile, :html => {:class => 'form-horizontal' }) do |f|
      = f.input :real_name, label: "Név"
      = f.input :user_name, label: "Felhasználónév"
      = f.input :private, label: "Privát profil"
      = f.input :date_of_birth, collection: 1960..2005 
      = f.input :nem2, priority: [ "Férfi" ], collection: [ "Férfi", "Nő"], label: "nem"
      = f.input :magassag, label: "Magasság", hint: "Centiméterben"
      = f.input :varos, label: "Város"
      = f.input :gym, label: "Konditerem"
      = f.input :sport, label: "Sport"
      = f.input :image, label: "Profilkép"
      = f.input :description, :input_html => { :class => "span12" }, label: "Magamról"
      .row-fluid
        .span8
          = link_to "Mégse", root_path, class: "btn btn-small pull-right"
        .span2
          = f.submit "Mentés", class: "btn btn-primary pull-right"
    /= Profile.inspect