- provide(:title, "Beállítások - " + @profile.user_name.to_s)
.row-fluid
  .span6.offset3
    %h2.pagination-centered.muted
      Profilod beállításai
    = simple_form_for(@profile, :html => {:class => 'form-horizontal' }) do |f|
      = f.input :real_name, label: "Név"
      = f.input :user_name, label: "Felhasználónév"
      = f.input :private, label: "Privát profil"
      = f.input :date_of_birth, collection: 1960..2005, albel: "Születés éve"
      = f.input :nem2, priority: [ "Férfi" ], collection: [ "Férfi", "Nő"], label: "nem"
      = f.input :magassag, label: "Magasság", hint: "Centiméterben"
      = f.input :varos, label: "Város"
      = f.input :gym, label: "Konditerem"
      = f.input :sport, label: "Sport"
      = f.input :image, label: "Profilkép"
      = f.input :cover_image, label: "Borítókép"
      = f.input :description, :input_html => { :class => "span12" }, label: "Magamról"
      .form-actions
        = f.button :submit, "Mentés", class: "btn btn-primary btn-large"
        = link_to "Mégse", "#", class: "btn btn-large", id: "close-workout"
    /= Profile.inspect