- if myprofile?(@profile)
  #profile
    .row-fluid
      .span2
        = image_tag(@profile.image_url(:thumb), class: "profile-img")
      .span2
        = render "personal"
      .span4
        %br/
        %br/
        = high_chart("chart_tzs", @ts)
      .span4
        %h4.muted
          Magamról
        .well.description
          = @profile.description
    
    .row-fluid
      .span5
        = render "calendar"
    
    
      .span7
        .size-view
          = render "size_view"
        .workout-wrapper
          = render "workouts/showme"
- else
  = render "private"

/:javascript
/  $('#last-workout').append("#{ j render "last_workout" }");
/  $('#last-workout').fadeIn(1000);