- provide(:title, @profile.user_name.to_s)
= render 'profile_nav'
.row
  .small-11.small-centered.columns
    .row
      .large-12.columns
        = render "follow_form"
        = render "size_view"
    .row
      .large-6.columns
        .row
          .large-12.columns
            .row
              .large-6.columns
                = select_year(@year)
              .large-6.columns
                = select_month(@month)
        = render "calendar"
      .large-6.columns
        .workout-wrapper
          = render "workouts/showme"
    .row
      .large-6.columns
        = render "chart"
      .large-6.columns
        = render "personal"
    %br/
    .row
      .large-12.columns
        .panel
          - if own_profile?(@profile)
            %a.button.small{"data-reveal-id" => "upload_photo", :href => "#"} Kép feltöltés
        - if @profile.photos.count > 0
          = render "clearing"
    .row
      .large-12.colums

= render "upload_photo"

:javascript
  $(document).ready(function() {
    $('select').change( function() {
      var year = $('#date_year').val();
      var month = $('#date_month').val();
      var current_url = window.location.href;
      if(current_url.indexOf('?') > -1) { 
        window.location.href = current_url += '&date=' + year + "-" + month + "-" + "10".toString();
      } else { 
        window.location.href = current_url += '?date=' + year + "-" + month + "-" + "10".toString();
      }
    });
  });


/.large-6.columns
/  = render "calendar"
/  .workout-wrapper
/    = render "workouts/showme"
/.large-6.columns
/  = render "size_view"




/- if myprofile?(@profile)
/  #profile
/    #profile-body
/      .row-fluid
/        .span12
/          = form_tag profile_path(@profile), class: "navbar-form pull-left", method: :get do
/            = text_field_tag :time, params[:time]
/            %button.btn{:type => "submit"}
/              OK
/      .row-fluid.profile-body
/        .span5
/          = render "calendar"
/          = render "pictures"
/          %br/
/          .standard.standard-header
/            %strong.muted
/              Testsúly Grafikon
/          .standard
/            = high_chart("chart_tzs", @ts)
/      
/      
/        .span7
/          .size-view
/            = render "size_view"
/          %br/
/          .workout-wrapper
/            = render "workouts/showme"
/          %br/
/          .row-fluid
/- else
/  = render "private"
/
// Button to trigger modal
/
// Modal
/= render "modal_picture"