- provide(:title, @profile.user_name.to_s)
= render 'profile_nav'
- if myprofile?(@profile)
  #profile
    .row-fluid
      .span2
        .profile-img
          /- if @profile.image_url
          /  = image_tag(@profile.image_url(:thumb), class: "profile-img")
          /- else
          /  = image_tag('user.png')
        /= image_tag(image_profile_path(@profile), :alt => "Avatar") if @profile.image?
      .span2
        = render "personal"
      .span4
        %br/
        %br/
        = high_chart("chart_tzs", @ts)
      .span4
        %h4.muted
          Magamról
        .well.description
          = @profile.description
    
    .row-fluid
      .span5
        = render "calendar"
    
    
      .span7
        .size-view
          = render "size_view"
        .workout-wrapper
          = render "workouts/showme"
- else
  = render "private"

/:javascript
/  $('#last-workout').append("#{ j render "last_workout" }");
/  $('#last-workout').fadeIn(1000);