- provide(:title, @profile.user_name.to_s)
= render 'profile_nav'
- if myprofile?(@profile)
  #profile
    #profile-body
      .row-fluid
        .span12
          = form_tag profile_path(@profile), class: "navbar-form pull-left", method: :get do
            = text_field_tag :time, params[:time]
            %button.btn{:type => "submit"}
              OK
      .row-fluid.profile-body
        .span5
          = render "calendar"
          = render "pictures"
          %br/
          .standard.standard-header
            %strong.muted
              Testsúly Grafikon
          .standard
            = high_chart("chart_tzs", @ts)
      
      
        .span7
          .size-view
            = render "size_view"
          %br/
          .workout-wrapper
            = render "workouts/showme"
          %br/
          .row-fluid
- else
  = render "private"

/ Button to trigger modal

/ Modal
= render "modal_picture"