- provide(:title, @profile.user_name.to_s)
= render 'profile_nav'
- if myprofile?(@profile)
  #profile
    #profile-body
      .row-fluid.profile-body
        .span5
          = render "calendar"
          = render "pictures"
          %br/
          .standard.standard-header
            %strong.muted
              Testsúly Grafikon
          .standard
            = high_chart("chart_tzs", @ts)
      
      
        .span7
          .size-view
            = render "size_view"
          %br/
          .workout-wrapper
            = render "workouts/showme"
          %br/
          = render "personal"
- else
  = render "private"

/ Button to trigger modal

/ Modal
= render "modal_picture"