#wf
  .row
    .small-8.small-offset-2
      = simple_form_for([@profile, @workout], :html => { :class => 'form-horizontal' }) do |f|
        = f.error_notification
      
        .form-inputs
          = f.input :name, required: true, label: "Edzés neve"
          .datetime.input-append
            = f.input :mikor, required: true, :label => "Edzés ideje ÉÉÉÉ/HH/NN ÓÓ:PP formátumba add meg. pl.: 2013/08/17 15:30", :wrapper => :append do
              = f.input_field :mikor, :as => :string, "data-format" => "yyyy/MM/dd hh:mm:ss" 
          = f.input :period_time, label: "Időtartam - percben"
          .row-fluid
            .span3
              = f.input :color, priority: "fehér", collection: [ "fehér", "kék"], label: "Jelölőszín", as: :radio_buttons
          /= f.input :template, label: "Mentés sablonként"
          = f.input :description, label: "Edzés leírása", input_html: { class: 'span10' }
      
        .form-actions
          = f.button :submit, "Mentés", class: "button"
          = link_to "Mégse", "#", class: "button secondary", id: "close-workout"