- if @workout
  #showme.standard
    %strong
      = @workout.name
      %small
        = localize(@workout.mikor, :format => :short) if @workout.mikor
      /= link_to edit_profile_workout_path(@profile, @workout) do
      /  %i.icon-pencil
      - if can? :update, @workout
        .right
          %a.button.tiny.secondary.dropdown{"data-dropdown" => "drop1", :href => "#"}
            %i.fi-widget
          %ul.f-dropdown#drop1
            %li
              = link_to new_profile_workout_path(@profile, @workout) do
                %i.fi-plus
                Új edzés
            %li
              = link_to edit_profile_workout_path(@profile, @workout) do
                %i.fi-page-edit
                Szerkesztés
            %li
              = link_to profile_workout_path(@profile, @workout), method: :delete, :data => { :confirm => 'Biztos vagy benne, hogy törlöd?' } do
                %i.fi-trash
                Törlés
    %p
      Időtartam:
      - if @workout.period_time
        = @workout.period_time.to_s + " perc" 
      - else
        = "--"
    %p
      #workout-description
        %small
          = simple_format(@workout.description)



/%a.button.dropdown{"data-dropdown" => "drop1", :href => "#"} Dropdown Button
/%br/
/%ul#drop1.f-dropdown
/  %li
/    %a{:href => "#"} This is a link
/  %li
/    %a{:href => "#"} This is another
/  %li
/    %a{:href => "#"} Yet another