%h2 Edzések listája

%table.table
  %tr
    %th Description
    %th Mikor
    %th User
    %th
    %th
    %th

  - @workouts.each do |workout|
    %tr
      %td= workout.description
      %td= workout.mikor
      %td= workout.user_id
      %td= link_to 'Show', profile_workout_path(@profile, workout)
      %td= link_to 'Edit', edit_profile_workout_path(@profile, workout)
      %td= link_to 'Destroy', profile_workout_path(@profile, workout), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Workout', new_profile_workout_path(@profile)
