%p
  %b Description:
  = @workout.description
%p
  %b Mikor:
  = @workout.mikor

= link_to 'Edit', edit_workout_path(@workout)
\|
= link_to 'Back', workouts_path
\|
= link_to 'Delete', @workout, :method => :delete