- @home_page = true
.row
  .small-5.small-centered.columns.bg-white.padding-10
    %h2.muted Új Felhasználó
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, :required => true, :autofocus => true
        = f.input :name, :required => true, label: "Felhasználónév"
        = f.input :password, :required => true, label: "jelszó"
        = f.input :password_confirmation, :required => true, label: "jelszó ellenőrzés"
        = f.button :submit, "Regiszráció", class: "button success expand"
    = render "devise/shared/links"