%br/
.row-fluid
  .span10.offset1
    %table.datatable
      %thead
        %tr
          %th Létrehozva
          %th Mérés dátuma
          %th Testsúly
          %th Testzsír
          %th Nyak
          %th Mell
          %th Váll
          %th Kar
          %th Alkar
          %th Derék
          %th Csípő
          %th Comb
          %th Vádli
      %tbody
        - @sizes.each do |size|
          %tr
            %td
              %small
                = ido(size.created_at) if size.created_at
            %td
              = size.mikor
            %td
              = size.testsuly
            %td
              = size.testzsir
            %td
              = size.nyak
            %td
              = size.mell
            %td
              = size.vall
            %td
              = size.kar
            %td
              = size.alkar
            %td
              = size.derek
            %td
              = size.csipo
            %td
              = size.comb
            %td
              = size.vadli