- provide(:title, "Méréseim")
%br/
.row-fluid
  .span12
    %table.datatable
      %thead
        %tr
          %th Létrehozva
          %th Mérés dátuma
          %th Testsúly
          %th Testzsír
          %th Nyak
          %th Mell
          %th Váll
          %th Kar
          %th Alkar
          %th Derék
          %th Csípő
          %th Comb
          %th Vádli
          %th
      %tbody
        - @sizes.each do |size|
          %tr
            %td
              %small
                = ido(size.created_at) if size.created_at
            %td
              = size.mikor
            %td
              = size.testsuly
            %td
              = size.testzsir
            %td
              = size.nyak
            %td
              = size.mell
            %td
              = size.vall
            %td
              = size.kar
            %td
              = size.alkar
            %td
              = size.derek
            %td
              = size.csipo
            %td
              = size.comb
            %td
              = size.vadli
            %td
              = link_to "Szerkesztés", edit_profile_size_path(@profile, size), class: "btn btn-link"
              = link_to "Törlés", profile_size_path(@profile, size), method: :delete,  class: "btn btn-link"