%h2.muted
  Meta reports

- @meta_reports.each do |meta|
  .row-fluid.standard
    .span2.standard
      = link_to Profile.find(meta.profile_id) do
        = Profile.find(meta.profile_id).user_name
      = meta.name
    .span8
      = meta.description
    .span2
      - if can? :edit, Version
        = link_to edit_version_path(meta) do
          %i.icon-edit
        = link_to meta, :method => :delete do
          %i.icon-trash
