.contain-to-grid
  %nav.top-bar{:data => {"custom_back_text" => "true", "back-text" => "lol"}}
    %ul.title-area
      / Title Area
      %li.name
        %h1
          = link_to "Anabolizmus", root_path
      / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
    %section.top-bar-section
      / Left Nav Section
      %ul.left
        - if user_signed_in?
          %li.divider
          %li{ class: "#{"active" if current_page?(meta_path)}" }
            = link_to "Meta", meta_path
        - if user_signed_in?
          %li.divider
          %li.has-form
            = form_tag kereses_path, method: :get do
              = text_field_tag :query, params[:query], placeholder: "Keresés"
      / Right Nav Section
      %ul.right
        - unless user_signed_in?
          %li.has-form
            = link_to regisztracio_path, class: "button success" do
              Regisztráció
          %li.has-form
            %a{"data-reveal-id" => "login-modal", :href => "#", class: "button "}
              Belépés
        - if user_signed_in?
          %li{ class: "#{'active' if current_page?(new_profile_workout_path(current_user.profile))}"}
            = link_to new_profile_workout_path(current_user.profile) do
              Új edzés
          %li.divider
          %li{ class: "#{'active' if current_page?(new_profile_size_path(current_user.profile))}"}
            = link_to new_profile_size_path(current_user.profile) do
              Új mérés
          %li.divider
          %li{ class: "#{"active" if current_page?(discussions_url)}" }
            = link_to discussions_url, class: "fix-height" do
              %i.fi-mail
          %li.divider
          %li.has-dropdown
            %a{:href => "#"} Menu
            %ul.dropdown
              %li{ class: "#{'active' if current_page?(profile_path(current_user.profile))}"}
                = link_to profile_path(current_user.profile) do
                  Profilom
              %li{ class: "#{'active' if current_page?(edit_profile_path(current_user.profile))}"}
                = link_to edit_profile_path(current_user.profile) do
                  %i.fi-widget
                  Beállítások
              %li{ class: "#{'active' if current_page?(profile_sizes_path(current_user.profile))}"}
                = link_to profile_sizes_path(current_user.profile) do
                  Méréseim
              %li.divider
              %li
                = link_to "Kilépés", kilepes_path

- unless user_signed_in?
  = render 'layouts/login_modal'

/%li.divider.hide-for-small
/%li.has-dropdown
/  %a{:href => "#"} Main Item 4
/  %ul.dropdown
/    %li
/      %label Dropdown Level 1 Label
/    %li.has-dropdown
/      %a{:href => "#"} Dropdown Level 1a
/      %ul.dropdown
/        %li
/          %a{:href => "#"} Dropdown Level 2a
/        %li
/          %a{:href => "#"} Dropdown Level 2b
/        %li.has-dropdown
/          %a{:href => "#"} Dropdown Level 2c
/          %ul.dropdown
/            %li
/              %a{:href => "#"} Dropdown Level 3a
/            %li
/              %a{:href => "#"} Dropdown Level 3b
/            %li
/              %a{:href => "#"} Dropdown Level 3c
/        %li
/          %a{:href => "#"} Dropdown Level 2d
/        %li
/          %a{:href => "#"} Dropdown Level 2e
/        %li
/          %a{:href => "#"} Dropdown Level 2f
/    %li
/      %a{:href => "#"} Dropdown Level 1b
/    %li
/      %a{:href => "#"} Dropdown Level 1c
/    %li.divider
/    %li
/      %label Dropdown Level 1 Label
/    %li
/      %a{:href => "#"} Dropdown Level 1d
/    %li
/      %a{:href => "#"} Dropdown Level 1e
/    %li
/      %a{:href => "#"} Dropdown Level 1f
/    %li.divider
/    %li
/      %a{:href => "#"} See all →
/%li.divider
/%li.has-form
/%li.divider.show-for-small
/%li.has-form
/  %a.button{:href => "#"} Button!