!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) + " - Anabolizmus" : "Anabolizmus"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "http://localhost:9292/faye.js"
    = javascript_include_tag "http://anabolizmus.com:9292/faye.js"
    = csrf_meta_tags
    = yield(:head)
  %body
    #wrap
      /- if current_user && current_user.admin?
      /  admin-nav
      /    = render "shared/admin"
      = render 'layouts/nav'
      #main{:role => "main"}
        .container
          .content
            .row-fluid
              .span12
                = render partial: "shared/flash_messages", flash: flash
                #yield
                  = yield
      #footer
        .container
          .content
            = render "layouts/footer"
